/* Settings Page Styles */
.settings-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
}

.settings-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 34px;
  color: #fff;
  background: linear-gradient(185deg, #000000, #ff9595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 34px;
  color: #fff;
  background: linear-gradient(185deg, #000000, #ff9595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

select,
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Custom styling for checkboxes */
input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 5px;
}

/* Additional styles can be added based on your design preferences */
